*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* global */

.btn-global{
    text-decoration:  none;
    margin-top: 15px;
    padding: 10px 20px;
    background-image: linear-gradient(to left,rgb(255, 104, 17) , rgb(228,122,0));
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 2px 3px 10px rgba(255, 104, 17, 0.842) ,-2px -3px 20px rgba(255, 104, 17, 0.801);
}
/* navbar css start */
nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background:rgb(4, 4, 32);

}
.logo-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-section i{
    color: rgb(255, 104, 17);
    font-size: 20px;
    padding-top: 2px;
}
.logo{
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 104, 17);
    padding-left: 30px;
    font-family: sans-serif;
    font-weight: 900;
}
.navbar-nav .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}
.nav-li{
    list-style: none;
    margin: 10px 15px;

}
.nav-li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

/* navbar css end  */

/* header section css start */

header{
    display: flex;
    justify-content: space-around;
    background-image: url(./img/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;

}
.header-left{
    margin-top: 13rem;
    padding-left: 40px;

}
.header-left-h1{
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: sans-serif;
    color: #464646;

}
.header-left-h1 span{
    color:rgb(228, 125, 0);
}
.header-left p{
    font-size: 22px;
    letter-spacing: 1px;
    color:#3b3b3b;
    margin-bottom: 30px;
}


.header-right{
    margin-top: 30px;

}

/* header section css end */
/* about me css start */
#about-me{
    display: flex;
    justify-content: space-around;
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.about-me-left{
    margin-top: 50px;
    width: 50%;
    text-align: center;

}
.about-me-right{
    width: 50%;
    padding: 100px 200px 100px 40px;
}
.about-me-right-h1{
    font-size: 40px;
    font-family: sans-serif;
    color: #464646;
    margin-bottom: 2rem;
}
.about-me-right p{
    margin-bottom: 3rem;
}

/* about me css end */
/* recipies css start*/
#recipie{
    margin: 50px 0 150px 0;
}
.recipie-h1{
    margin-bottom: 1rem;
    color: #464646;
    text-align: center;
    font-family: sans-serif;
}
.recipie-p{
    text-align: center;
}
.card{
    display: flex;
    justify-content: space-around;
    
}
.card-1{
    cursor: pointer;
    margin-top: 50px;
    width: 23%;
    background-color: rgb(255, 255, 255);
    height: 25rem;
    border-radius: 20px;
    box-shadow: 15px 10px 50px rgb(211, 211, 211),-15px -10px 50px rgb(211, 211, 211);
}
.card-top{
    text-align: center;
}
.card-top img{
    margin: 15px 0;
}
.card-bottom{
    padding: 0 20px;
}

/* recipies css end */
/* contact css start  */
.contact-div{
    margin: 10rem 0; 
    display: flex;
    justify-content: space-around;
}
#contact h1{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
    color: #464646;
}
.contact-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.contact-right{
    width: 50%;
}
.contact-right div{
    margin-bottom: 20px;
}
.contact-right div input, textarea{
    width: 50%;
    padding: 5px 20px;
}
.contact-right div input{
    height: 35px;
}
.submit-btn{
    background-color: rgb(255, 104, 17);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 57%;
    cursor: pointer;
}


/* contact css end */
/* footer css start */
footer{
    height: 12rem;
    background-color: rgb(2, 2, 17);
    text-align: center;
    padding-top: 30px;
}
footer h1{
    color: rgb(39, 38, 38);
    margin-bottom: 2rem;
}
footer h1 span{
    color: rgb(228, 125, 0);
}
footer p{
    color: rgb(231, 228, 228);
    font-style: italic;
}
